{% block body %}
    
    <div class="container mt-5">
        <div class="card">
                <div class="card-header">
                        <h4>Cadastrar novo animal</h4>
                </div>
            <div class="card-body">
                {{ form_start(form) }}

                <div class="row mb-3">
                    <div class="col">
                        {{ form_row(form.codigo, {'label_attr': {'class': 'sr-only'}, 'attr': {'class': 'form-control', 'placeholder': 'código da cabeça de gado'} }) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.nascimento, {'label_attr': {'class': 'sr-only'}, 'attr': {'class': 'form-control', 'placeholder': form.nascimento.vars.label} }) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                       {{ form_row(form.peso, {'label_attr': {'class': 'sr-only'}, 'attr': {'class': 'form-control has-label-inside', 'placeholder': 'peso do animal em quilos'} }) }}

                    </div>
                    <div class="col">
                        {{ form_row(form.racao, {'label_attr': {'class': 'sr-only'}, 'attr': {'class': 'form-control has-label-inside', 'placeholder': 'quantidade de alimento ingerida por semana'} }) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6">
                       {{ form_row(form.leite, {'label_attr': {'class': 'sr-only'}, 'attr': {'class': 'form-control', 'placeholder': 'número de litros de leite produzido por semana'} }) }}
                    </div>
                </div>

               

                 <div class="d-flex justify-content-end flex-row mb-3">
                    <a href="{{ path('animal_relatorioAnimais') }}" class="btn btn-light mr-2" style="border: 1px solid #ccc;">Voltar</a>
                    <button class="btn btn btn-success">{{ button_label|default('Salvar') }}</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}
